Repository voxpupuli/puppet-dropbear, pull requests merged in 2018-09, with the labels that each got.

#17 modulesync 2.0.0
  .msync.yml
  .overcommit.yml
  Gemfile
Labels: modulesync

#18 release 1.1.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#19 adds Fedora 28 to metadata
  metadata.json
Labels: enhancement
